{% extends 'templates/app.twig' %}

{% block content %}
  <div class="row">
    {% for index, product in products %}
      <div class="col-md-4 col-ms-6">
          {% include 'products/partials/item.twig' with {product : product} %}
      </div>

      {% if (index + 1) % 3 == 0 %}
  </div>

  <div class="row">
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
