{% extends 'templates/app.twig' %}


{% block content %}
    <div class="row">
      <div class="col-md-4">
        <img src="{{product.image}}" alt="{{product.title}} image" class="thumbnail img-responsive">
      </div>

      <div class="col-md-8">
          {% if product.hasLowStock() %}
              <span class="label label-warning"> Low stock </span>
          {% endif %}

          {% if product.outOfStock()  %}
              <span class="label label-danger"> Out of stock </span>
          {% endif %}

          <h3> {{product.title }}</h3>
          <p>{{product.description}}</p>

          {% if product.inStock() %}
            <a href="{{ path_for('cart.add' , {slug: product.slug, quantity : 1})}}" class="btn btn-danger btn-sm"> Add to Cart</a>
          {% endif %}

      </div>
    </div>
{% endblock %}
