<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
          aria-expande="false">
              <span class="sr-only"> Toggle navigation </span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="{{ path_for('home')}}"> Cart </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{path_for('cart.index')}}">
                <span class="glyphicon glyhpicon-shopping-cart" aria-hidden="true"></span>
                Cart({{basket.itemCount }})
              </a>
            </li>
          </ul>
        </div>

    </div>
  </nav>
</body>
